* {
    margin: 0;
    padding: 0;
}

/* nav section */
nav div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-pic {
    width: 380px;
    margin-top: 15px;
    margin-bottom: 18px;
}

.contact-us {
    font-size: 25px;
    font-weight: 600px;
    list-style: none;
}

/* banner section */
.banner {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    margin-bottom: 178px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    padding-top: 197px;
    padding-bottom: 32px;
}

.banner-description {
    padding-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-all {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px 20px 43px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}


.banner-img {
    margin-bottom: 0;
    padding-right: 240px;
}

.banner-content {
    margin-left: 240px;
}

/* featured flowers section */
.featured-flowers-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.featured-flowers-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 48px;
}

.featured-flower-image {
    display: flex;
    gap: 24px;
    margin-top: 165px;
    justify-content: space-around;
    margin-left: 315px;
    margin-right: 316px;
}

.img11 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 78px;
}

.img12 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
}

.img13 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
}

.featured-flower-text {
    display: flex;
    gap: 307px;
    justify-content: space-around;
    margin: 32px 381px 128px 381px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-bottom: 576px;
}

/* hot deal section */

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hot-deal-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    padding-top: 230px;
    margin-left: 423px;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
    margin-left: 395px;
}

.hot-deal-img {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-right: 429px;
}

#sing-up {
    margin-left: 603px;
}

.color {
    color: #E55473;
}

/* instagram section */
.instagram-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 128px;
}

.featured-flowers-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
    padding-bottom: 48px;
}

.instagram-image {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 0;
    margin-bottom: 128px;
}

/* The Latest Deals section */


.latest-deals-headig {
    align-items: center;
    margin: 0 534px 0 533px;
    padding-top: 122px;
}

.latest-deals-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.latest-deals-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.latest-deals-input {
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    border: none;
    align-items: center;
    padding-right: 16px;
}

.latest-deals-input-and-button {
    margin-left: 527px;
    margin-top: 48px;
    padding-bottom: 121px;
}
.latest-deals{
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    margin-bottom: 128px;
}

